<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit</title>
</head>
<body>
    <header>
        <button>
            <a href="/">Home</a>
        </button>
        <button>
            <a href="/trucks">Add to Order</a>
        </button>
    </header>

    <h1>Edit Item</h1>

    <form id="editfunction" action="/carts/<%= item._id %>?_method=PUT" method="POST">
        <button type="submit">Update</button>
    
        <input type="text" name="itemName" value="<%= item.itemName %>">
        <input type="text" name="meat" value="<%= item.meat %>">
        <input type="text" name="beans" value="<%= item.beans %>">
        <input type="text" name="cheese" value="<%= item.cheese %>">
        <input type="text" name="guac" value="<%= item.guac %>">
        <input type="text" name="onion" value="<%= item.onion %>">
        <input type="text" name="cilantro" value="<%= item.cilantro %>">
        <input type="text" name="lettuce" value="<%= item.lettuce %>">
        <input type="text" name="salsa" value="<%= item.salsa %>">


        <%= item.itemName %> with
        <%= item.meat %>,
        <%= item.beans %> Beans,
        <%= item.cheese ? 'Cheese, ' : '' %>
        <%= item.guac ? 'Guac, ' : '' %>
        <%= item.onion ? 'Onion, ' : '' %>
        <%= item.cilantro ? 'Cilantro, ' : '' %>
        <%= item.lettuce ? 'Lettuce, ' : '' %>
        and <%= item.salsa %> Salsa
        <%= '' %>
    </form>
    
</body>
</html>